@model AsyncInnTake2_401_Lab.Models.Amenity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Amenity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirConditioning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirConditioning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coffee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coffee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OceanView)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OceanView)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiniBar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiniBar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fridge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fridge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Safe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Safe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetFriendly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetFriendly)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
